
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    scroll-behavior: smooth;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: linear-gradient(90deg, #007bff, #00bfff);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar .logo {
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
}


.section {
    padding: 80px 20px;
    margin: 40px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.05);
}

.section-title {
    text-align: center;
    font-size: 32px;
    color: #007bff;
    margin-bottom: 50px;
}



.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    flex-wrap: wrap;
}

.profile-img-square {
    width: 290px;
    height: 290px;
    object-fit: cover;
    border-radius: 18px;
    border: 4px solid #007bff;
    transition: 0.35s ease;
}

.profile-img-square:hover {
    transform: scale(1.05);
}


.about-text h1 {
    font-size: 44px;
    font-weight: 700;
    color: #007bff;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}


.about-text h2 {
    font-size: 22px;
    font-weight: 500;
    color: #666;
    margin-bottom: 18px;
}


.about-text p {
    font-size: 17px;
    line-height: 1.7;
    color: #555;
    max-width: 520px;
}


.about-btn {
    margin-top: 28px;
    padding: 12px 28px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.about-btn:hover {
    background: #0056b3;
    transform: scale(1.05);
}


.about-details {
    /* max-width: 900px; */
    margin: 50px 150px;
    display: none;
}

.about-details.show {
    display: block;
}

.about-details-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;
}

.about-details-text {
    flex: 1;
    font-size: 17px;
    line-height: 1.8;
    color: #555;
}

.about-details-text strong {
    color: #222;
    font-weight: 600;
}

.about-details-img {
    width: 300px;
    height: 320px;
    object-fit: cover;
    border-radius: 14px;
    transition: 0.3s;
}

.about-details-img:hover {
    transform: scale(1.05);
}



.skills-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.skill-card {
    min-width: 240px;
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.skill-icon {
    font-size: 36px;
    margin-bottom: 10px;
}

.progress {
    width: 100%;
    height: 8px;
    background: #e0e0e0;
    border-radius: 10px;
    margin-top: 15px;
}

.progress-bar {
    height: 100%;
}

.html { width: 90%; background: #f16529; }
.css { width: 85%; background: #2965f1; }
.js { width: 20%; background: #f7df1e; }
.python { width: 60%; background: #3776ab; }
.fastapi { width: 70%; background: #009688; }
.git { width: 75%; background: #f34f29; }
.sql { width: 65%; background: #f29111; }
.figma { width: 70%; background: #f24e1e; }

.skill-percent {
    display: block;
    font-weight: bold;
    margin-top: 6px;
    color: #555;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1100px;
    margin: auto;
}

.project-card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.project-img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 25px;
}

.project-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

.contact-section {
    background: #007bff;
    color: #ffffff;
    text-align: center;
    padding: 60px 20px;
}

.contact-section a {
    color: #ffeb3b;
    text-decoration: none;
}